@import url('https://fonts.cdnfonts.com/css/futura-pt');

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura PT', sans-serif;
}

.bg-image {
  background-size: cover;
  z-index: -1;
  position: absolute;
  filter: blur(5px) brightness(70%) saturate(70%);
  /*background-color: #243321;*/
  height: 110%;
  width: 110%;
  background-attachment: fixed;
  transform: translate(-2%, 0);
}

.image-container {
  position: relative;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-height: 100vh;*/
  padding: 10vh 20vw;
}

.container {
  grid-gap: 1vw;
  grid-template-columns: 120px auto 120px;
  grid-template-areas:
      "profile-name profile-name profile-name"
			"profile-pic profile-des profile-des";

  position: relative;
  min-height: 70vh;
  max-width: 80vw;
  display: grid;
  align-content: center;
  padding: 50px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.64);

}

img {
  max-width: 100%;
  height: auto;
}

header {
  z-index: 9999;
  position: fixed;
  top: 5vh;
  padding: 20px 50px;
  max-height: 10vh;
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

header .logo {
  logo-image: url("/img/logo_rotund.png");

}

header ul.menu {
  display: flex;
  list-style: none;
}

header ul.menu li {
  margin: 0 10px;
}

header ul.menu li a {
  text-decoration: none;
  font-weight: 700;
  color: #2d5328;
  text-shadow: 1px 1px 3px #5d8656;
  padding: 7px 13px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
  width: 100%;
}

header ul.menu li a:hover {
  background: rgba(255, 255, 255, 0.8);
}

.profile-name {
  grid-area: profile-name;
  text-decoration: none;
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
  text-shadow: 1px 2px 5px #022300;
  padding: 7px 13px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.profile-pic {
  grid-area: profile-pic;
}

.profile-des {
  grid-area: profile-des;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 2px 5px #022300;
  padding: 20px 30px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
}


.profile-des button {
  margin: 1rem;
  padding: 0.7rem 2rem;
}

@media screen and (max-width: 620px) {
  section {
    display: flex;
    flex-direction: column;
    padding: 5vh 10vw;
  }
  header {
    position: fixed;
    top: 5vh;
    max-width: 80vw;
    text-align: center;
    padding: 10px;
    min-height: 8vh;
  }

  .container {
    flex-direction: column;
    position: relative;
    min-height: 70vh;
    max-width: 80vw;
    display: flex;
    align-content: center;
    padding: 3vw;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.64);

  }
}

/*
position: relative;
width: 60%;
min-height: 70vh;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;

background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.64);
*/
@media only screen and (max-width: 620px) {
  header {
    position: fixed;
    top: 5vh;
    width: calc(100% - 4rem);
  }

  header ul.menu {
    display: flex;
    list-style: none;
    alignment: center;
  }

  header ul.menu li {
    width: 100%;
    text-align: center;
    margin: 0px 10px;
  }

  header ul.menu li a {
    text-decoration: none;
    font-weight: 700;
    color: #2d5328;
    text-shadow: 1px 1px 3px #5d8656;
    padding: 7px 13px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: background 0.1s ease-in-out;
    /*width: 100%;*/
  }

  .container {
    height: auto;
    min-height: 70vh;
    position: fixed;
    width: calc(100% - 4rem);
  }

}

/* ADD THE FOLLOWING RULESET TO CHANGE THE MAIN FRAME WIDTH TO 85% */

.middle-general-container {
  width: calc(100% - 4rem);
}
