/* ---            class              --- */

@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

.HC {
    align-items: center;
}

.shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.headerContents {
    display: flex;
    margin: 15px 25px;
    justify-content: space-between;
}

.headerContents p{
    color: #828282;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.leftSide {
    display: flex;
}

.logoContainer {
    height: 40px;
    border-radius: 50%;
    background-color: green;
    display: flex;
}

.logoContainer img {
    height: 100%;
    width: 100%;
}

.rightSide {
    display: flex;
}

.searchButtonContainer {
    height: 40px;
    display: flex;
}

.searchButtonContainer img {
    height: 80%;
    width: auto;
}

.searchButtonContainer,
.aboutButtonContainer,
.albumsButtonContainer,
.profileButtonContainer {
    display: flex;
    text-align: center;
    height: 40px;
    padding: 0 0.5rem;
}

.logoutButtonContainer {
    background-color: #F0EFF2;
    display: flex;
    height: 40px;
    padding: 0 1rem;
    border-radius: 20px;
    margin-right: 0;
    justify-content: center;
    cursor: pointer;
}

.dropdownButton {
    display: none;
    height: 40px;
    width: 40px;
    justify-content: center;
}

.dropdownButton img {
    height: 60%;
    width: auto;
}

.dropdownContainer {
    position: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.dropdownMenu {
    align-items: center;
    display: flex;
    position: absolute;
    top: 60px;
    left: auto;
    right: 15px;
    z-index: 1;
    background-color: #EFEFEF;;
    border-radius: 15px;
    align-content: center;
    padding: 1rem;
  }

.dropdownMenu > div {
    flex-direction: column;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dropdownMenu > div > * {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #565656;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.dropdownMenu > div:last-child {
    margin-bottom: 0;
}

/* ---            id              --- */

@media screen and (max-width: 768px) {
    .headerContents {
        display: flex;
        margin: 15px 5px;
        justify-content: space-between;
    }

    .aboutButtonContainer,
    .albumsButtonContainer,
    .profileButtonContainer,
    .logoutButtonContainer {
        display: none;
    }

    .dropdownContainer {
        order: 1;
    }

    .dropdownButton {
        display: flex;
    }
}

:root {
    font-family: 'Sarala', sans-serif;
}