/* ---            class              --- */

@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

/* ----------- animations ------------ */

@keyframes button-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideInRight {
    from {
      right: -50px;
      opacity: 0;
    }
  
    to {
      right: 0;
      opacity: 1;
    }
}

@keyframes dropdown {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0);
    }
}

.HC {
    align-items: center;
}

.shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.headerContents {
    /* justify-content: space-between; */
    display: flex;
    margin: 15px 10px;
}

.headerContents p{
    color: #828282;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.leftSide {
    float: none;
    display: flex;
    min-width: fit-content;
}

.logoContainer {
    height: 40px;
    display: flex;
}

.logoContainer img {
    height: 100%;
    width: 100%;
}

.rightSide {
    /* justify-content: flex-start; */
    margin-left: auto;
    display: flex;
    float: left;
}

.searchButtonContainer,
.filterButtonContainer {
    height: 40px;
    display: flex;
}

.searchButtonContainer img,
.filterButtonContainer img {
    height: 80%;
    width: auto;
}

.searchBarContainer {
    box-sizing: border-box;
    padding-left: 0.5rem;
    display: flex;
}

.searchBar {
    margin-left: 0;
    display: flex;
    align-items: center;
    position: relative;
    animation-name: slideInRight;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#searchBar {
    width: 40vw;
    height: 2rem;
    border-radius: 20px;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #828282;
    background-color: #F0EFF2;
}

.filterButton {
    animation: button-click 0.3s ease;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #F0EFF2;
    cursor: pointer;
}

.filterButton img {
    display: block;
    height: 80%;
    width: auto;
    border: none;
}

.filterButtonContainer,
.searchButtonContainer,
.aboutButtonContainer,
.albumsButtonContainer,
.profileButtonContainer {
    display: flex;
    text-align: center;
    height: 40px;
    padding: 0 0.5rem;
    cursor: pointer;
}

.logoutButtonContainer, .signupButtonContainer {
    min-width: fit-content;
    background-color: #F0EFF2;
    display: flex;
    height: 40px;
    padding: 0 1rem;
    border-radius: 20px;
    margin-right: 0;
    justify-content: center;
    cursor: pointer;
}

.loginButtonContainer {
    min-width: fit-content;
    background-color: #7B886B;
    display: flex;
    height: 40px;
    padding: 0 1rem;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    cursor: pointer;
}

.loginButtonContainer > p {
    color: #F0EFF2;
}

.dropdownButton {
    position: absolute;
    height: 40px;
    width: 40px;
    justify-content: center;
    cursor: pointer;
}

.dropdownButton img {
    height: 60%;
    width: auto;
}

.dropdownContainer {
    display: none;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.dropdownMenu {
    align-items: center;
    animation: dropdown 0.3s ease-out forwards;
    display: none;
    position: absolute;
    top: 70px;
    left: auto;
    right: 10px;
    z-index: 1;
    background-color: #EFEFEF;
    border-radius: 15px;
    align-content: center;
    padding: 1rem;
  }

.dropdownMenu > div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.dropdownMenu > div > * {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #828282;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.dropdownMenu > div:last-child {
    margin-bottom: 0;
}

.filterMenuContainer {
    max-height: 40vh;
    width: 30vw;
    padding-bottom: 1rem;
    z-index: 1;
    background-color: #EFEFEF;
    overflow: scroll;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 15px;
    animation: dropdown 0.3s ease-out forwards;
}

.filterMenu {
    flex-wrap: wrap;
    padding: 0 1rem;
}

.category {
    display: block;
}

.category ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.category p {
    margin-bottom: 0.25rem;
    text-decoration: none;
    color: #828282;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
}

.category li {
    margin: 2px;
    padding: 0.25rem;
    text-decoration: none;
    color: #828282;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .headerContents {
        display: flex;
        margin: 25px 10px;
        justify-content: space-between;
    }

    .aboutButtonContainer,
    .albumsButtonContainer,
    .profileButtonContainer,
    .logoutButtonContainer,
    .loginButtonContainer,
    .signupButtonContainer {
        display: none;
    }

    .dropdownContainer {
        order: 1;
        display: flex;
    }

    .dropdownButton {
        display: flex;
    }

    .filterMenuContainer {
        max-height: calc(100vh - 100px);
        width: 50%;
    }
}

@media screen and (max-width: 380px) {
    .searchBarContainer.HC {
        width: 100%;
        top: 70px;
        left: 0;
        padding: 0.5rem;
        position: absolute;
    }

    .searchBar {
        animation-name: dropdown;
        animation-duration: 0.3s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        width: 100%;
    }

    #searchBar {
        width: calc(100% - 40px);
    }

    .filterMenuContainer {
        max-height: calc(100vh - 100px);
        width: calc(100% - 20px);
    }
}

:root {
    font-family: 'Sarala', sans-serif;
}

.content {
    overflow-y: scroll;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .image-container {
    width: calc(33.33% - 20px);
    position: relative;
    overflow: hidden;
  }
  
  .lazy-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }