/* ---            class              --- */

@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

:root {
  font-family: 'Sarala', sans-serif;
  --albumBox-item-size: 150px;
  --card_width: 250px;
  --card_width_mobile: calc(95vw/2);
  --card_border_radius: 15px;
  --row_increment: 10px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
  --color-text-gray: #828282;
  --color-green-200: #7b886b;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f0eff2;
  --color-gainsboro-100: #dfd9d9;
  --color-gainsboro-200: #d9d9d9;
  --color-dimgray: #565656;
  --color-black: #000;
  --color-darkgray: #b4b4b4;
}

/* ----------- animations ------------ */

@keyframes button-click {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideInRight {
  from {
    right: -50px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes dropdown {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

.HC {
  align-items: center;
}

.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.headerContainer {
  width: 100%;
  color: white;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.headerContents {
  height: 80px;
  display: flex;
  padding: 0 10px;
}

.headerContents p {
  color: #828282;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.leftSide {
  float: none;
  display: flex;
  min-width: fit-content;
}

.logoContainer {
  height: 40px;
  display: flex;
}

.logoContainer img {
  height: 100%;
  width: 100%;
}

.rightSide {
  /* justify-content: flex-start; */
  margin-left: auto;
  display: flex;
  float: left;
}

.searchButtonContainer,
.filterButtonContainer {
  height: 40px;
  display: flex;
}

.searchButtonContainer img,
.filterButtonContainer img {
  height: 80%;
  width: auto;
}

.searchBarContainer {
  box-sizing: border-box;
  padding-left: 0.5rem;
  display: flex;
  z-index: 1;
}

.searchBar {
  margin-left: 0;
  display: flex;
  align-items: center;
  position: relative;
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#searchBar {
  width: 40vw;
  height: 2rem;
  border-radius: 20px;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #828282;
  background-color: #F0EFF2;
}

.filterButton {
  animation: button-click 0.3s ease;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #F0EFF2;
  cursor: pointer;
}

.filterButton img {
  display: block;
  height: 80%;
  width: auto;
  border: none;
}

.filterButtonContainer,
.searchButtonContainer,
.aboutButtonContainer,
.albumsButtonContainer,
.profileButtonContainer {
  display: flex;
  text-align: center;
  height: 40px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.logoutButtonContainer,
.signupButtonContainer {
  min-width: fit-content;
  background-color: #F0EFF2;
  display: flex;
  height: 40px;
  padding: 0 1rem;
  border-radius: 20px;
  margin-right: 0;
  justify-content: center;
  cursor: pointer;
}

.loginButtonContainer {
  min-width: fit-content;
  background-color: var(--color-green-200);
  display: flex;
  height: 40px;
  padding: 0 1rem;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  cursor: pointer;
}

.loginButtonContainer>p {
  color: #F0EFF2;
}

.dropdownButton {
  position: absolute;
  height: 40px;
  width: 40px;
  justify-content: center;
  cursor: pointer;
}

.dropdownButton img {
  height: 60%;
  width: auto;
}

.dropdownContainer {
  display: none;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.dropdownMenu {
  align-items: center;
  animation: dropdown 0.3s ease-out forwards;
  display: none;
  position: absolute;
  top: 80px;
  left: auto;
  right: 10px;
  z-index: 1;
  background-color: #EFEFEF;
  border-radius: 15px;
  align-content: center;
  padding: 1rem;
}

.dropdownMenu>div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.dropdownMenu>div>* {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #828282;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

.dropdownMenu>div:last-child {
  margin-bottom: 0;
}

.filterMenuContainer {
  max-height: 40vh;
  width: 30vw;
  padding-bottom: 1rem;
  z-index: 1;
  background-color: #EFEFEF;
  overflow: scroll;
  margin-left: auto;
  border-radius: 15px;
  animation: dropdown 0.3s ease-out forwards;
  position: absolute;
  top: 70px;
  left: auto;
  right: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.filterMenu {
  flex-wrap: wrap;
  padding: 0 1rem;
}

.category {
  display: block;
}

.category ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.category p {
  margin-bottom: 0.25rem;
  text-decoration: none;
  color: #828282;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
}

.category li {
  margin: 2px;
  padding: 0.25rem;
  text-decoration: none;
  color: #828282;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/*---------------loginPage/registerPage-------------------*/

.loginContainer, .registerContainer {
  position: absolute;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  margin: 65px auto;
  padding: 0;
  top: 80px;
  /* width: 400px; */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  background-color: var(--color-whitesmoke-100);
  text-align: center;
}

.presentationContainer {
  position: absolute;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  margin: 65px auto;
  padding: 10px;
  top: 80px;
  /* width: 400px; */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  background-color: var(--color-whitesmoke-100);
  text-align: center;
}

.loginContainer h2, .registerContainer h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 35px 35px 0;
  margin: 0;
}

.loginFormContents, .registerFormContents {
  padding: 35px;
  text-align: center;
}

#username, #password, #email, #current_password, #new_password, #confirm_password {
  width: 300px;
  padding-left: 10px;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  font-weight: 300;
  color: #828282;
  background-color: #F0EFF2;
}

#login, #register {
  border-radius: 10px;
  border: none;
  font-size: 1.3em;
  font-weight: 300;
  color: #F0EFF2;
  background-color: var(--color-green-200);
  cursor: pointer;
  height: 2.5rem;
  width: 7rem;
}

.loginButton, .registerButton {
  display: flex;
  padding: 1 1rem;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

/*--------------- Spotlight -------------------*/

.spotlight-container {
  width: 700px;
  padding: 10px;
  position: absolute;
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-whitesmoke-100);
  border-radius: 40px;
}
.enlarged-image {
  flex: 1;
  max-width: 50%;
}
.enlarged-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}
.plant-details {
  width: 50%;
  flex: 1;
  padding-left: 20px;
  justify-content: space-between;
}
.plant-details h2 {
  margin-top: 0;
}
.plant-details p {
  margin-top: 10px;
}
.plant-comments {
  margin-top: 20px;
}
.add-comment-box textarea {
  position: absolute;
  width: 220px;
  resize: none;
  bottom: 10px;
  height: 2rem;
  border-radius: 20px 0 0 20px;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #828282;
  background-color: #F0EFF2;
  line-height: 2rem;
}
.add-comment-box button {
  position: absolute;
  bottom: 10px;
  height: 2rem;
  border-radius: 0 20px 20px 0;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #F0EFF2;
  background-color: var(--color-green-200);
  left: 250px;
}

.add-comment-box {
  position: absolute;
  bottom: 0px;
  width: 300px;
}

/* AICI  */

.photo_content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  width: 95vw;
  left: 50%;
  transform: translateX(-50%);
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.image_card {
  padding: 0;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);
}

.small_card {
  grid-row-end: span var(--card_small);
}

.medium_card {
  grid-row-end: span var(--card_medium);
}

.large_card {
  grid-row-end: span var(--card_large);
}

.lazy-image {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 230px;
  height: auto;
  background-color: #F0EFF2;
  object-fit: cover;
  border-radius: inherit;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .headerContents {
    display: flex;
    margin: 0;
    padding: 0 10px;
  }

  .aboutButtonContainer,
  .albumsButtonContainer,
  .profileButtonContainer,
  .logoutButtonContainer,
  .loginButtonContainer,
  .signupButtonContainer,
  .topButtonContainer {
    display: none;
  }

  .dropdownContainer {
    order: 1;
    display: flex;
  }

  .dropdownButton {
    display: flex;
  }

  .filterMenuContainer {
    max-height: calc(100vh - 100px);
    width: 50%;
  }

  /* --------------- Spotlight media 768 -----------------*/

  .spotlight-container {
    width: 95vw;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .enlarged-image {
    width: 100%;
    max-width: 100%;
  }

  .enlarged-image img {
    border-radius: 40px 40px 0 0;
  }

  .plant-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .plant-details h2 {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .plant-details p {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
  }

  .plant-comments {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .add-comment-box textarea {
    position: relative;
  }

  .add-comment-box button {
    left: auto;
    position: relative;
    height: 2rem;
    border-radius: 0 20px 20px 0;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #F0EFF2;
    background-color: var(--color-green-200);
  }
  
  .add-comment-box {
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 420px) {
  .image_grid {
    grid-template-columns: repeat(auto-fill, var(--card_width_mobile));
  }

  .image_card {
    padding: 0;
    margin: 15px 5px;
    border-radius: var(--card_border_radius);
  }

  .lazy-image {
    width: calc(95vw/2 - 10px);
  }

  #username, #password, #email {
    width: 280px;
  }
}

@media screen and (max-width: 380px) {
  .searchBarContainer.HC {
    width: 100%;
    top: 70px;
    left: 0;
    padding: 0.5rem;
    position: absolute;
  }

  .searchBar {
    animation-name: dropdown;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    width: 100%;
  }

  #username, #password, #email {
    width: 260px;
  }

  #searchBar {
    width: calc(100% - 40px);
  }

  .filterMenuContainer {
    max-height: calc(100vh - 100px);
    width: calc(100% - 20px);
    position: absolute;
    top: 80px;
    right: 2.5vw;
    padding-top: 20px;
  }
}

/*---------------modificarile laviniei in css-------------------*/
.content {
  overflow-x: hidden;
}

.album {
  margin-top: 80px;
  position: absolute;
  place-items: center;
  width: 98%;
  display: grid;
  justify-content: center;
  column-gap: 35px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(var(--albumBox-item-size), var(--albumBox-item-size)));
}

.albumBox-container {
  overflow: hidden;
  border-radius: 30px;
  background-color: #F8F8F8;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.albumBox-container h2 {
  padding: 0;
  margin: 0;
  color: hsl(0, 0%, 51%);
  text-align: center;
}

.albumBox-grid {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: var(--albumBox-item-size);
  width: var(--albumBox-item-size);
}

.albumBox-grid-item:nth-of-type(4n) {
  position: relative;
}

.albumBox-grid-item:nth-of-type(4n)::before {
  content: attr(data-count);
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.8);
}

.albumBox-grid-item {
  height: calc(var(--albumBox-item-size) / 2.2);
  width: calc(var(--albumBox-item-size) / 2.2);
  overflow: hidden;
  border-radius: 20px;
}

.albumBox-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}